html{
    height: 100%;
}

/* everything for the mobile version here */
@media(max-width: 576px){
    body{
        background-image: url("images/bg-mobile.png"); 
        background-color: hsl(229, 57%, 11%); 
        background-repeat: no-repeat;
        background-size: auto;
        height: 100%;
        background-position: bottom;
        
    }
}

#icons{
    border-radius: 5px 50px 5px 5px;
    /* height: 200px; */
    text-align: center;
    background-color: hsl(228, 56%, 26%);
}


/* for the desktop version, everything below */
@media(min-width: 576px){
    body{
        background-image: url("images/bg-desktop.png");
        background-color: hsl(229, 57%, 11%);
        background-repeat: no-repeat;
        background-size: auto;
        height: 100%;
        background-position: bottom;
    }
}


.background_Icons{
    background-color: hsl(229, 57%, 11%);
    border-radius: 5px 5px 5px 5px; 
}
.red{
    background-color: red;

    height: 70px;
    text-align: center;
    padding-top: 25px;

    
}

.outside{
    position:relative;
}
.inside{
    position:absolute;
    top:50%;
    bottom:50%;
    transform:translate(-50%, -50%);
}

